.cover-display {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu {
    padding: 0px 0;
    margin: 5px 0;
    background-color: #374048;
    color: darkgrey;
    width: 828.5px;
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.menu li {
    display: inline;
    margin: 0 10px;
}

.menu a {
    color: #00bfff;
    text-decoration: none;
}

.covers-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.covers-container a {
    color: white;
}

.cover-container {
    margin: 2px 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

.cover-small {
    width: 100px;
}

.rank-container {
    width: 98.5px;
    height: 99.5px;

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: right;
}

.rank {
    background-color: darkblue;
    opacity: 75%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.tooltip {
    visibility: hidden;
    opacity: 90%;
    background-color: slategray;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    font-size: smaller;
}

.cover-container:hover .tooltip {
    visibility: visible;
}

@media screen and (max-width: 450px) {
    .menu {
        width: 304px;
    }
    .menu li {
        font-size: smaller;
        margin: 5px;
    }
}

@media screen and (max-width: 350px) {
    .menu {
        width: 204px;
    }
    .menu li {
        font-size: smaller;
        margin: 5px;
    }
}