body {
    background-color: #262626;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    padding: 10px 0;
    background-color: #161a1d;
}

nav {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

nav li {
    display: inline;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color:#00bfff;
}

main {
    width: 850px;
    margin: 30px auto;
    text-align: center;
}

.cover-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.covers-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cover-container {
    margin: 1px 3px;
}

.menu {
    padding: 10px 0;
    margin: 5px 0;
    background-color: #374048;
    width: 842px;
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 10px;
}

.menu a {
    margin: 0px;
    color: #00bfff;
    text-decoration: none;
}

.cover-small {
    width: 100px;
}



.tooltiptext {
    visibility: hidden;
    background-color: blue;
    position: absolute;
    margin-left: -100px;
}

.cover-container:hover .tooltiptext {
    visibility: visible;
}

.arrow {
    color: darkgrey;
}

.album-display {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    margin: 50px;
}

.cover-large {
    width: 400px;
    display: inline;
}

.album-details {
    margin: 20px;
    display: inline-block;
    width: 200px;
}

button {
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    color: lightgrey;
    border: 1px solid darkslategrey;
}

.add {
    background-color: darkgreen;
}

.remove {
    background-color: darkred;
}

@media screen and (max-width: 800px) {
    header {
        padding-bottom: 0;
    }

    nav, main {
        width: 95vw;
        justify-content: center;
        flex-flow: column wrap;
    }

    nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-left: 0;
    }

    nav li {
        padding-bottom: 0;
    }

    .menu {
        padding: 0;
    }

    .menu li {
        font-size: smaller;
        margin: 5px;
    }
}

@media screen and (max-width: 350px) {
    .menu ul {
        width: 60vw;
    }
}