body {
    background-color: #262626;
    color: white;
    width: 950px;
    margin: 0 auto;
}

a {
    color: white;
}

span {
    margin: 0;
}

.covers-container {
    display: flex;
    flex-flow: row wrap;
}

.cover-small {
    width: 100px;
}

.tooltiptext {
    visibility: hidden;
    background-color: blue;
    position: absolute;
    margin-left: -100px;

}

.cover-container:hover .tooltiptext {
    visibility: visible;
}