header {
    padding: 10px 0;
    background-color: #161a1d;
}

nav {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

nav ul {
    padding: 0 0 0 10px;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color:#00bfff;
}

.site-title a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}

body {
    background-color: #262626;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main {
    width: 850px;
    margin: 30px auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

h2 a {
    text-decoration: none;
}

a {
    color: white
}

.landing {
    width: 50vw;
}

.small {
    font-size: smaller;
    color: lightgrey;
    line-height: 1.5;
}

.page {
    display: inline;
    margin: 10px;
    background-color: cyan;
    padding: 10px;
    border-radius: 10px;
    color: navy;
}

@media screen and (max-width: 850px) {
    main {
        width: 700px;
    }
    nav ul {
        padding-left: 40px;
    }
}

@media screen and (max-width: 650px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .site-title {
        margin-right: 5px;
    }

    
    main {
        width: 420px;
    }

    nav ul {
        padding-left: 18px;
    }

    nav li {
        margin: 0;
    }
    nav {
        width: 450px;
    }
    .landing {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    header {
        padding-bottom: 0;
    }
    nav {
        width: 307px;
        font-size: small;
    }
    .site-title {
        padding-left: 0;
        margin-right: 0;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-left: 0;
    }
    nav li {
        padding: 0 7px;
    }
    main {
        width: 307px;
        margin: 0 auto;
    }
}