{% extends 'base.html' %}

{% block title %}
{{album.title}}
{% endblock%}

{%block body%}

<h1>{{album.title}}</h1>

<div>
    <img src={{album.image}} alt="{{album.title}}" style="width:400px"/><br />
    {{album.artist}}, {{album.year}}<br />
    Rank: {{album.rank_2020}}
</div>

{% if album in favorites %}
    <a href="{% url 'remove_from_favorites' album.pk %}"><button>Remove from Favorites</button></a>
{% else %}
    <a href="{% url 'add_to_favorites' album.pk %}"><button>Add to Favorites</button></a>
{% endif %}

<h2>Other Albums by {{album.artist}} in the <em>RS 500</em></h2>
<div class="album-container">

{% for other_album in albums %}
    {% if other_album.artist == album.artist and other_album.title != album.title and other_album.rank_2020 > 0 %}

        <div>
            <a href="{% url 'album_detail' other_album.pk %}">
                <img src="{{other_album.image}}" alt="{{other_album.title}}" class="cover-small"/>
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>


{% endblock %}