{% extends 'base.html' %}

{% block title %}
{{album.title}}
{% endblock%}

{%block body%}

<div class="album-display">
    <img src={{album.image}} alt="{{album.title}}" class="cover-large"/>
    <div class="album-details">
        <h1>{{album.title}}</h1>
        <h2>{{album.artist}}, {{album.year}} | #{{album.rank_2020}}</h2>
        <div class="buttons">
        {% if user.is_authenticated %}
            {% if album in favorites %}
                <a href="{% url 'remove_from_favorites' album.pk %}"><button class="remove">Remove from Favorites</button></a>
            {% else %}
                <a href="{% url 'add_to_favorites' album.pk %}"><button class="add">Add to Favorites</button></a>
            {% endif %}

            {% if album in want_to_listen %}
                <a href="{% url 'remove_want_to_listen' album.pk %}"><button class="remove">Remove from Want to Listen</button></a>
            {% else %}
                <a href="{% url 'add_want_to_listen' album.pk %}"><button class="add">Add to Want to Listen</button></a>
            {% endif %}

            {% if album in listened %}
                <a href="{% url 'remove_listened' album.pk %}"><button class="remove">Remove from Listened</button></a>
            {% else %}
                <a href="{% url 'add_listened' album.pk %}"><button class="add">Add to Listened</button></a>
            {% endif %}

            {% if album in not_interested %}
                <a href="{% url 'remove_not_interested' album.pk %}"><button class="remove">Remove from Not Interested</button></a>
            {% else %}
                <a href="{% url 'add_not_interested' album.pk %}"><button class="add">Add to Not Interested</button></a>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>

<div class="other-albums">
    <h2>Other Albums by {{album.artist}} in the <em>RS 500</em></h2>
    <div class="covers-container">

    {% for other_album in albums %}
        {% if other_album.artist == album.artist and other_album.title != album.title and other_album.rank_2020 > 0 %}

            <div class="cover-container">
                <a href="{% url 'album_detail' other_album.pk %}">
                    <img src="{{other_album.image}}" alt="{{other_album.title}}" class="cover-small"/>
                </a>
                <span class="tooltiptext">{{album.rank_2020}}</span>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}