{% extends 'base.html' %}

{% block title %}
All Albums
{% endblock%}

{%block body%}

<h1>All Albums</h1>

{% if user.is_authenticated %}
    <p>Showing only albums not in your lists. <a href="{% url "all_albums" "1" %}">See all albums.</p>
{% endif %}

<div class="cover-display">
    <div class="menu">
        <ul>
            <li><a href="{% url 'decade' 1950 %}">1950s</a></li>
            <li><a href="{% url 'decade' 1960 %}">1960s</a></li>
            <li><a href="{% url 'decade' 1970 %}">1970s</a></li>
            <li><a href="{% url 'decade' 1980 %}">1980s</a></li>
            <li><a href="{% url 'decade' 1990 %}">1990s</a></li>
            <li><a href="{% url 'decade' 2000 %}">2000s</a></li>
            <li><a href="{% url 'decade' 2010 %}">2010s</a></li>
        </ul>
    </div>

    <div class="covers-container">
        {% for album in albums %}
            {% if album.rank_2020 > 0 and album not in not_interested and album not in favorites and album not in listened and album not in want_to_listen %}
                
                <a href="{% url 'album_detail' album.pk %}">
                    <div class="cover-container">
                        <div class="tooltip">
                            <b>{{album.title}}</b></br>
                            {{album.artist}}, {{album.year}}
                        </div>
                        <div class="rank-container">
                            <div class="rank">
                                {{album.rank_2020}}
                            </div>
                        </div>
                        <img src="{{album.image_small}}" alt="{{album.title}}" class="cover-small"/>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}