{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'styles/main.css' %} />
    <link rel="stylesheet" href={% static 'styles/coverdisplay.css' %} />
    <link rel="stylesheet" href={% static 'styles/albumdetail.css' %} />
    <link rel="stylesheet" href={% static 'styles/misc.css' %} />
    <link rel="shortcut icon" type="image/png" href="http://alexdietz-assets.com/vinyl-record.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Greatest Albums | {% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div class='nav-container'>
            <nav>
                <div class="site-title"><a href="{% url "switcher" %}">Greatest Albums</a></div>
                <ul>
                    
                    <li><a href="{% url "all_albums" "1" %}">All Albums</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "my_lists" %}">My Lists</a></li>
                    <li><a href="{% url "logout" %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url "signup" %}">Sign Up</a></li>
                    <li><a href="{% url "login" %}">Log In</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>

    </header>
    <main>
    {% block body %}
    {% endblock %}
    </main>
</body>
</html>