{% extends 'base.html' %}

{% block title %}{{decade}}s{% endblock%}

{%block body%}


<h1>{{decade}}s</h1>

<div class="cover-display">

    <div class="menu">
        <ul>
        {% if decade > 1950 %}
            <li><a href="{% url 'decade' decade|add:'-10' %}">{{decade|add:'-10'}}s</a> <span class="arrow">←</span></li>
        {% endif %}
        
            <li><a href="{% url 'year' decade decade %}">{{decade}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'1' %}">{{decade|add:'1'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'2' %}">{{decade|add:'2'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'3' %}">{{decade|add:'3'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'4' %}">{{decade|add:'4'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'5' %}">{{decade|add:'5'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'6' %}">{{decade|add:'6'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'7' %}">{{decade|add:'7'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'8' %}">{{decade|add:'8'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'9' %}">{{decade|add:'9'}}</a></li>
        
        {% if decade < 2010 %}
            <li>→ <a href="{% url 'decade' decade|add:'10' %}">{{decade|add:'10'}}s</a></li>
        {% endif %}
        </ul>
    </div>

    <div class="covers-container">
    {% for album in albums %}
        {% if album.year >= decade and album.year < decade|add:'10' and album.rank_2020 > 0 %}
            <div class="cover-container">
                <a href="{% url 'album_detail' album.pk %}">
                    <img src={{album.image}} alt="{{album.title}}" class="cover-small"/>
                </a>
            </div>
            <div class="rank">
                {{album.rank_2020}}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}