{% extends 'base.html' %}

{% block title %}
    Home
{% endblock%}

{%block body%}
<h1>Greatest Albums</h1>

<div>
    <a href="{% url 'decade' 1950 %}">1950s</a>
    <a href="{% url 'decade' 1960 %}">1960s</a>
    <a href="{% url 'decade' 1970 %}">1970s</a>
    <a href="{% url 'decade' 1980 %}">1980s</a>
    <a href="{% url 'decade' 1990 %}">1990s</a>
    <a href="{% url 'decade' 2000 %}">2000s</a>
    <a href="{% url 'decade' 2010 %}">2010s</a>
    <a href="{% url 'decade' 2020 %}">2020s</a>
</div>

<section>
    {% for album in albums %}
        <a href="{% url 'album_detail' album.pk %}"><img src={{album.image}} alt="{{album.title}}" style="width:100px"/></a><br />
        <b>{{album.title}}</b><br />
        {{album.artist}}, {{album.year}}<br />
        Rank: {{album.rank}}
    {% endfor %}
</section>

{% endblock %}