{% extends 'base.html' %}

{% block title %}
My Lists
{% endblock%}

{%block body%}
<h1>My Lists</h1>

<section>
<h2><a href="{% url "selected_list" "favorites" %}">Favorites</a></h2>
<div class="covers-container">
    {% for album in favorites %}
        <a href="{% url 'album_detail' album.pk %}">
            <div class="cover-container">
                <div class="tooltip">
                    <b>{{album.title}}</b></br>
                    {{album.artist}}, {{album.year}}
                </div>
                <div class="rank-container">
                    <div class="rank">
                        {{album.rank_2020}}
                    </div>
                </div>
                <img src="{{album.image_small}}" alt="{{album.title}}" class="cover-small"/>
            </div>
        </a>
    {% empty %}
        You haven't yet added any albums to this list.
    {% endfor %}
</div>
</section>

<section>
<h2><a href="{% url "selected_list" "want-to-listen" %}">Want to Listen</a></h2>
<div class="covers-container">
    {% for album in want_to_listen %}
        <a href="{% url 'album_detail' album.pk %}">
            <div class="cover-container">
                <div class="tooltip">
                    <b>{{album.title}}</b></br>
                    {{album.artist}}, {{album.year}}
                </div>
                <div class="rank-container">
                    <div class="rank">
                        {{album.rank_2020}}
                    </div>
                </div>
                <img src="{{album.image_small}}" alt="{{album.title}}" class="cover-small"/>
            </div>
         </a>
    {% empty %}
        You haven't yet added any albums to this list.
    {% endfor %}
</div>
</section>

<section>
<h2><a href="{% url "selected_list" "listened" %}">Listened</a></h2>
<div class="covers-container">
    {% for album in listened %}
        <a href="{% url 'album_detail' album.pk %}">
            <div class="cover-container">
                <div class="tooltip">
                    <b>{{album.title}}</b></br>
                    {{album.artist}}, {{album.year}}
                </div>
                <div class="rank-container">
                    <div class="rank">
                        {{album.rank_2020}}
                    </div>
                </div>
                <img src="{{album.image_small}}" alt="{{album.title}}" class="cover-small"/>
            </div>
         </a>
    {% empty %}
    You haven't yet added any albums to this list.
    {% endfor %}
</div>
</section>

<section>
<h2><a href="{% url "selected_list" "not-interested" %}">Not Interested</a></h2>
<div class="covers-container">
    {% for album in not_interested %}
        <a href="{% url 'album_detail' album.pk %}">
            <div class="cover-container">
                <div class="tooltip">
                    <b>{{album.title}}</b></br>
                    {{album.artist}}, {{album.year}}
                </div>
                <div class="rank-container">
                    <div class="rank">
                        {{album.rank_2020}}
                    </div>
                </div>
                <img src="{{album.image_small}}" alt="{{album.title}}" class="cover-small"/>
            </div>
         </a>
    {% empty %}
    You haven't yet added any albums to this list.
    {% endfor %}
</div>
</section>

{% endblock %}