{% extends 'base.html' %}

{% block title %}{{year}}{% endblock%}

{%block body%}


<h1>{{year}}</h1>

<div class="cover-display">

    <div class="menu">
        {% if decade > 1950 %}
            <a href="{% url 'decade' decade|add:'-10' %}">{{decade|add:'-10'}}s</a> <span class="arrow">←</span>
        {% endif %}
        <a href="{% url 'year' decade decade %}">{{decade}}</a>
        <a href="{% url 'year' decade decade|add:'1' %}">{{decade|add:'1'}}</a>
        <a href="{% url 'year' decade decade|add:'2' %}">{{decade|add:'2'}}</a>
        <a href="{% url 'year' decade decade|add:'3' %}">{{decade|add:'3'}}</a>
        <a href="{% url 'year' decade decade|add:'4' %}">{{decade|add:'4'}}</a>
        <a href="{% url 'year' decade decade|add:'5' %}">{{decade|add:'5'}}</a>
        <a href="{% url 'year' decade decade|add:'6' %}">{{decade|add:'6'}}</a>
        <a href="{% url 'year' decade decade|add:'7' %}">{{decade|add:'7'}}</a>
        <a href="{% url 'year' decade decade|add:'8' %}">{{decade|add:'8'}}</a>
        <a href="{% url 'year' decade decade|add:'9' %}">{{decade|add:'9'}}</a>
        {% if decade < 2010 %}
            <span class="arrow">→</span> <a href="{% url 'decade' decade|add:'10' %}">{{decade|add:'10'}}s</a>
        {% endif %}
    </div>

    <div class="covers-container">
    {% for album in albums %}
        {% if album.year == year and album.rank_2020 > 0 %}
            <div class="cover-container">
                <a href="{% url 'album_detail' album.pk %}">
                    <img src={{album.image}} alt="{{album.title}}" class="cover-small"/>
                </a>
            </div>
        {% endif %}
    {% endfor %}
    </div>

</div>

{% endblock %}