{% extends 'base.html' %}

{% block title %}{{year}}{% endblock%}

{%block body%}


<h1>{{year}}</h1>

<p><a href="{% url "all_albums" "1" %}">Show all years.</a></p>

{% if user.is_authenticated %}
    <p>Showing all albums. <a href="{% url "year_filter" decade year %}">See only albums not in your lists.</a></p>
{% endif %}

<div class="cover-display">

    <div class="menu">
        <ul>
        {% if decade == 1950 %}
            <li><a href="{% url 'year' decade decade|add:'5' %}">{{decade|add:'5'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'6' %}">{{decade|add:'6'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'7' %}">{{decade|add:'7'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'8' %}">{{decade|add:'8'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'9' %}">{{decade|add:'9'}}</a></li>
        
        {% else %}
            <li><a href="{% url 'decade' decade|add:'-10' %}">{{decade|add:'-10'}}s</a> <span class="arrow">←</span></li>
        
            <li><a href="{% url 'year' decade decade %}">{{decade}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'1' %}">{{decade|add:'1'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'2' %}">{{decade|add:'2'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'3' %}">{{decade|add:'3'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'4' %}">{{decade|add:'4'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'5' %}">{{decade|add:'5'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'6' %}">{{decade|add:'6'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'7' %}">{{decade|add:'7'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'8' %}">{{decade|add:'8'}}</a></li>
            <li><a href="{% url 'year' decade decade|add:'9' %}">{{decade|add:'9'}}</a></li>
        {% endif %}
    
        {% if decade < 2010 %}
            <li>→ <a href="{% url 'decade' decade|add:'10' %}">{{decade|add:'10'}}s</a>
        {% endif %}
    </div>

    <div class="covers-container">
    {% for album in albums %}
        {% if album.year == year and album.rank_2020 > 0 %}
            <a href="{% url 'album_detail' album.pk %}">
                <div class="cover-container">
                    <div class="tooltip">
                        <b>{{album.title}}</b></br>
                        {{album.artist}}, {{album.year}}
                    </div>
                    <div class="rank-container">
                        <div class="rank">
                            {{album.rank_2020}}
                        </div>
                    </div>
                    <img src="{{album.image_small}}" alt="{{album.title}}" class="cover-small"/>
                </div>
            </a>
        {% endif %}
    {% endfor %}
    </div>

</div>

{% endblock %}