{% extends 'base.html' %}

{% block title %}{{year}}{% endblock%}

{%block body%}


<h1>{{year}}</h1>

<div>
    Decades: 
    <a href="{% url 'decade' 1950 %}">1950s</a>
    <a href="{% url 'decade' 1960 %}">1960s</a>
    <a href="{% url 'decade' 1970 %}">1970s</a>
    <a href="{% url 'decade' 1980 %}">1980s</a>
    <a href="{% url 'decade' 1990 %}">1990s</a>
    <a href="{% url 'decade' 2000 %}">2000s</a>
    <a href="{% url 'decade' 2010 %}">2010s</a>
</div>

<div>
    Years: 
    <a href="{% url 'year' decade decade %}">{{decade}}</a>
    <a href="{% url 'year' decade decade|add:'1' %}">{{decade|add:'1'}}</a>
    <a href="{% url 'year' decade decade|add:'2' %}">{{decade|add:'2'}}</a>
    <a href="{% url 'year' decade decade|add:'3' %}">{{decade|add:'3'}}</a>
    <a href="{% url 'year' decade decade|add:'4' %}">{{decade|add:'4'}}</a>
    <a href="{% url 'year' decade decade|add:'5' %}">{{decade|add:'5'}}</a>
    <a href="{% url 'year' decade decade|add:'6' %}">{{decade|add:'6'}}</a>
    <a href="{% url 'year' decade decade|add:'7' %}">{{decade|add:'7'}}</a>
    <a href="{% url 'year' decade decade|add:'8' %}">{{decade|add:'8'}}</a>
    <a href="{% url 'year' decade decade|add:'9' %}">{{decade|add:'9'}}</a>
</div>

<div class="album-container">
{% for album in albums %}
    {% if album.year == year and album.rank_2020 > 0 %}
        <div>
            <a href="{% url 'album_detail' album.pk %}">
            <img src={{album.image}} alt="{{album.title}}" class="cover-small"/>
            </a><br />
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}