{% extends 'base.html' %}

{% block title %}
Not Interested
{% endblock%}

{%block body%}
<h1>Not Interested</h1>

<div class="album-container">
    {% for userlist in userlists %}
            {% if userlist.not_interested == True %}
                <div>
                <a href="{% url 'album_detail' userlist.album.pk %}">
                    <img src="{{userlist.album.image}}" alt="{{userlist.album.title}}" class="cover-small"/>
                </a>
                </div>
            {% endif %}
    {% endfor %}
</div>

{% endblock %}